@import url(https://fonts.googleapis.com/css?family=Aldrich);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Krub);
@import url(http://54.149.70.109/css/boxborder.css);

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;
    background-color: #FFF;
    color: black;
    left: 0px;
    right: 0px;
    font-family: 'Montserrat', sans-serif;
}

div#head {
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
}

div#center {
    padding: 40px 0;
    font-size: 30px;
    font-family: "Krub";
}

nav {
    padding: 1% 0;
    background-color: #333333;
}

#home {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
}

#home img {
    width: 24px;
    height: 24px;
}

footer {
    background-color: seagreen;
    font-size: 14px;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

footer hr {
    margin: 0px;
    height: 3px;
    background-color: black;
}

footer a {
    font-size: 20px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: white;
    color: black;
}

footer img {
    height: 20px;
}